@layer reset, style, components, overrides;

@import url("./reset.css") layer(reset);
@import url("./style.css") layer(style);
@import url("./components.css") layer(components);
@import url("./overrides.css") layer(overrides);

@layer global {
  :root {
    --full: 1fr;
    --content: min(1200px, 100% - 2em * 2);
  }

  
  body {
    display: grid;

    grid-template-columns:
      [full-start] var(--full)
      [main] var(--content)
      var(--full) [full-end];

    grid-template-rows: auto 1fr auto;

    main {
      grid-column: full;
      display: grid;
      grid: auto/subgrid;

      > * {
        grid-column: main;
        + * {
          padding: clamp(6.25rem, 5.1591rem + 5.4545vw, 9.25rem) 0;
        }
      }
    }

    .full {
      grid-column: full;
    }
  
  }

  /* content max width 1200px 
  Case__Study contains an area with a smaller width, the text, which should have a ch max-width
  */
}
