---
import { Icon } from "astro-icon/components";
import AboutStats from "../components/AboutStats.astro";
import AltHero from "../components/AltHero.astro";
import Newsletter from "../components/Newsletter.astro";
import TitleColored from "../components/TitleColored.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import ImageContainer from "../components/ImageContainer.astro";
import CardDynamic from "../components/CardDynamic.astro";
import PrimBtn from "../components/Btn.astro";
import EmployeeSection from "../components/EmployeeSection.astro";
import Accordion from "../components/Accordion.astro";
const pageTitle = "About us";

const coreValuesData = await fetch(
  "https://raw.githubusercontent.com/heyheynic/frontend-design-skoleopgave/main/resources/json/corevalues.json"
).then((res) => res.json());

const employeesData = await fetch(
  "https://raw.githubusercontent.com/heyheynic/frontend-design-skoleopgave/bb0e7fb57b0831e5c14742cd5c5c1e263aeef511/resources/json/employees.json"
).then((res) => res.json());

const firstThreeEmployees = employeesData.slice(0, 3);
---

<BaseLayout pageTitle={pageTitle}>
  <AltHero
    title="Creative Services For Boost Your Business Growth"
    titleColor="Services"
    theme="yellow__bg"
    img="alt-hero-about.png"
    altText="Three office people discussing something."
  />

  <div class="block-2">
    <div class="text__area">
      <TitleColored titleColor="Our vision" theme="green__bg" />
      <h2>Turn your ideas into reality.</h2>
      <p>
        Capitalize on low hanging fruit to identify a ballpark value added
        activity beta test. Override the digital divide with additional from
        DevOps.
      </p>
      <div class="checklist">
        <Icon name="tick" />
        <p>
          Bring to the table win-win survival strategies to ensure proactive
          domination. At the end of the day.
        </p>
        <Icon name="tick" />
        <p>
          Capitalize on low hanging fruit to identify a ballpark value added
          activity to beta test override the digital.
        </p>
      </div>
    </div>
    <ImageContainer
      img="about-section-2.png"
      altText="People working together"
    />
    <!-- component with number  -->
    <div class="stats">
      <AboutStats title="1128+" description="Successful Work" />
      <AboutStats title="908+" description="Team members" />
      <AboutStats title="258+" description="Happy Customers" />
      <AboutStats title="564+" description="Creative ideas" />
    </div>
  </div>

  <div class="block-3 full" style="background-color: var(--secondary-dark);">
    <div class="text__area">
      <TitleColored titleColor="Growing with our Clients" theme="yellow__bg" />
      <h2>Our core values & principles</h2>
      <p>
        Capitalize on low hanging fruit to identify a ballpark value added
        activity beta test. Override the digital divide with additional from
        DevOps.
      </p>
      <PrimBtn theme="black" title="Get in touch" />
    </div>
    <div class="cards">
      <CardDynamic data={coreValuesData} theme="white__bg" layout="button" />
    </div>
  </div>

  <div class="block-4">
    <div class="text__area">
      <TitleColored titleColor="Our team" theme="yellow__bg" />
      <h2>We champion the bold to achieve the extraordinary</h2>
      <p>
        Ippsum is the result of synergy between our teams and our customers. Our
        company culture is focused on excellent productivity, customer
        satisfaction, respect for team.
      </p>
    </div>
    <!-- component for team single view -->
    <EmployeeSection employeesData={firstThreeEmployees} />
  </div>

  <!-- component for accordion  -->
  <div class="accordion">
    <Accordion />
  </div>
  <Newsletter />
</BaseLayout>

<style>
  .block-2 {
    display: grid;
    grid: 1fr / 1fr 1fr;
    gap: var(--gap);

    .text__area {
      grid-column: 1;
      grid-row: 1;
      display: grid;
      gap: var(--gap);

      .checklist {
        display: grid;
        grid: 1fr 1fr / auto 1fr;
        align-items: center;
        gap: var(--gap);
      }
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .stats {
      grid-column: 1/-1;
      display: flex;
      flex-wrap: wrap;
      max-width: 900px;
      width: 100%;
      justify-content: center;
      margin: auto;
    }

    @media screen and (max-width: 900px) {
      grid: auto / 1fr;
    }
  }

  .block-3 {
    display: grid;
    grid: auto/subgrid;
    gap: var(--gap);

    > * {
      grid-column: main;
    }

    .text__area {
      display: grid;
      grid: auto / 1fr auto;
      gap: var(--gap);

      > * {
        grid-column: 1/2;
      }

      button {
        grid-column: 2/-1;
        place-self: end;
      }

      @media screen and (max-width: 900px) {
        > :nth-child(1) {
          grid-column: 1/-1;
        }
      }

      @media screen and (max-width: 500px) {
        > * {
          grid-column: 1/-1;
        }
      }
    }
   .cards {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
      grid-template-rows: auto;
      gap: var(--gap);
    }
    
  }

  .block-4 {
    .text__area {
      display: grid;
      gap: var(--gap);

      h2 {
        max-width: 30ch;
      }
    }
  }
</style>
