---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "AskExperts";

import Hero from "../components/Hero.astro";
import ImageContainer from "../components/ImageContainer.astro";
import TitleColored from "../components/TitleColored.astro";
import { Icon } from "astro-icon/components";
import PrimBtn from "../components/PrimBtn.astro";
import Scroller from "../components/Scroller.astro";

const projectionsData = await fetch(
  "https://raw.githubusercontent.com/heyheynic/frontend-design-skoleopgave/main/resources/json/projections.json"
).then((res) => res.json());

//import ScrollingContainer from "../components/ScrollingContainer.astro";

//import { cardContent } from "../data/card-content.js";
---

<BaseLayout pageTitle={pageTitle}>
  <Hero />

  <section class="block-2">
    <ImageContainer />
    <div class="text__area">
      <TitleColored />
      <h2>What To Expect</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
      <div class="checklist">
        <Icon name="tick" />
        <p>
          Bring to the table win-win survival strategies to ensure proactive
          domination. At the end of the day.
        </p>
        <Icon name="tick" />

        <p>
          Capitalize on low hanging fruit to identify a ballpark value added
          activity to beta test override the digital.
        </p>
      </div>
    </div>
  </section>
  <div class="full">
    <section class="block-3">
      <div class="icon__container">
        <img src="src/icons/stats.svg" alt="statistics icon
      " />
      </div>
      <div class="text__area">
        <h2>Financial Projections</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class="buttons">
        <PrimBtn />
        <PrimBtn />
      </div>
    </section>
    <Scroller data={projectionsData} />
  </div>
  <div class="full yellow">
    <section class="block-4">
<div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis harum consequatur placeat porro quam vero rerum in rem odio saepe dolor minus temporibus nobis, maiores assumenda molestias earum libero quae fugit. Tempora soluta, consequatur obcaecati sed velit illum pariatur dolore.</div>

    </section>
  </div>
  <div class="full black">
    <section class="block-5">
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto soluta
        consectetur cupiditate dolorum labore eius esse vel rerum reprehenderit
        temporibus.
      </div>
    </section>
  </div>
  
  <section class="block-6">
    
  </section>
</BaseLayout>

<style>
  @layer components {
    .block-2 {
      display: grid;
      grid: auto / 1fr 1fr;
      gap: clamp(2.625rem, 1.7159rem + 4.5455vw, 5.125rem);

      .text__area {
        display: grid;
        gap: 0.8rem;
        max-width: 70ch;

        .checklist {
          display: grid;
          grid: auto/ auto 1fr;
          gap: var(--gap);
          align-items: center;
          margin: 1rem 0;
        }
      }

      @media screen and (max-width: 900px) {
        display: flex;
        flex-direction: column-reverse;

        .text__area {
          place-content: center;
        }
      }
    }
    .full {
      background-color: var(--secondary-dark);
      display: grid;
      grid: auto/subgrid;
    }
    .block-3 {
      grid-column: main;

      display: grid;
      grid: repeat(4, 1fr) / 1fr 1fr;

      .icon__container {
        width: clamp(6rem, 5.7955rem + 1.0227vw, 6.5625rem);
      }

      .text__area {
        grid-row: 2/4;
        grid-column: 1/2;
      }

      .buttons {
        grid-row: 3;
        justify-self: end;
        align-self: start;

        display: flex;
        gap: var(--gap);
      }

      .scroller {
        background-color: blue;
        padding: 2em;
      }
    }

    .yellow {
      background-color: var(--primary01);
    }
    .block-4 {
      grid-column: main;
    }

    .black {
      background-color: var(--primary03);
      color: white;
    }

    .block-5 {
      grid-column: main;
    }
  }
  [data-icon] {
    width: clamp(1.125rem, 1.0795rem + 0.2273vw, 1.25rem);
  }
</style>
