---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "AskExperts";

import Hero from "../components/Hero.astro";
import ImageContainer from "../components/ImageContainer.astro";
import TitleColored from "../components/TitleColored.astro";
import { Icon } from "astro-icon/components";
import PrimBtn from "../components/PrimBtn.astro";
import Scroller from "../components/Scroller.astro";
import CircleChart from "../components/CircleChart.astro";
import CardDynamic from "../components/CardDynamic.astro";

const projectionsData = await fetch(
  "https://raw.githubusercontent.com/heyheynic/frontend-design-skoleopgave/main/resources/json/projections.json"
).then((res) => res.json());

const coreValuesData = await fetch(
  "https://raw.githubusercontent.com/heyheynic/frontend-design-skoleopgave/main/resources/json/corevalues.json"
).then((res) => res.json());

// const employeesData = await fetch(
//   "https://raw.githubusercontent.com/heyheynic/frontend-design-skoleopgave/main/resources/json/employees.json"
// ).then((res) => res.json());

//import ScrollingContainer from "../components/ScrollingContainer.astro";

//import { cardContent } from "../data/card-content.js";
---

<BaseLayout pageTitle={pageTitle}>
  <Hero />

  <section class="block-2">
    <ImageContainer />
    <div class="text__area">
      <TitleColored titleColor="We'll work with you" />
      <h2>What To Expect</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
      <div class="checklist">
        <Icon name="tick" />
        <p>
          Bring to the table win-win survival strategies to ensure proactive
          domination. At the end of the day.
        </p>
        <Icon name="tick" />

        <p>
          Capitalize on low hanging fruit to identify a ballpark value added
          activity to beta test override the digital.
        </p>
      </div>
    </div>
  </section>
  <div class="full">
    <section class="block-3">
      <div class="icon__container">
        <img src="src/icons/stats.svg" alt="statistics icon
      " />
      </div>
      <div class="text__area">
        <h2>Financial Projections</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class="buttons">
        <PrimBtn theme="arrow__l__yellow" />
        <PrimBtn theme="arrow__r__yellow" />
      </div>
    </section>
    <Scroller data={projectionsData} theme="grey__bg" />
  </div>
  <div class="full yellow">
    <section class="block-4">
      <div class="text__area">
        <TitleColored titleColor="experience" theme="white__bg" />
        <h2>More than 25 years of experience</h2>
        <p>3000+ our clients are insured around the World</p>
      </div>
      <CircleChart percent={85} text="Consistency" />
      <CircleChart percent={95} text="Improvement" />
      <CircleChart percent={90} text="Branching" />
    </section>
  </div>
  <div class="full black">
    <section class="block-5">
      <div class="text__area">
        <TitleColored
          titleColor="Growing with our clients"
          theme="yellow__bg"
        />
        <h2>Our core values & principles</h2>
        <p>
          Capitalize on low hanging fruit to identify a ballpark value added
          activity beta test. Override the digital divide with additional from
          DevOps.
        </p>
        <PrimBtn theme="white" title="Get in touch" />
      </div>
      <div class="cards">
        <CardDynamic data={coreValuesData} theme="white__bg" layout="button" />
      </div>
    </section>
  </div>

  <section class="block-6"></section>
</BaseLayout>

<style>
  .block-2 {
    display: grid;
    grid: auto / 1fr 1fr;
    gap: clamp(2.625rem, 1.7159rem + 4.5455vw, 5.125rem);

    .text__area {
      display: grid;
      gap: 0.8rem;
      max-width: 70ch;

      .checklist {
        display: grid;
        grid: auto/ auto 1fr;
        gap: var(--gap);
        align-items: center;
        margin: 1rem 0;
      }
    }

    @media screen and (max-width: 900px) {
      display: flex;
      flex-direction: column-reverse;

      .text__area {
        place-content: center;
      }
    }
  }
  .full {
    background-color: var(--secondary-dark);
    display: grid;
    grid: auto/subgrid;
  }
  .block-3 {
    grid-column: main;

    display: grid;
    grid: repeat(4, 1fr) / 1fr 1fr;

    .icon__container {
      width: clamp(6rem, 5.7955rem + 1.0227vw, 6.5625rem);
    }

    .text__area {
      grid-row: 2/4;
      grid-column: 1/2;
    }

    .buttons {
      grid-row: 3;
      justify-self: end;
      align-self: start;

      display: flex;
      gap: var(--gap);
    }

    .scroller {
      padding: 2em;
    }
  }
  .yellow {
    background-color: var(--primary01);
  }
  .block-4 {
    grid-column: main;
    display: grid;
    grid: auto / repeat(5, 1fr);
    gap: var(--gap);

    .text__area {
      grid-column: 1/3;
      display: grid;
      gap: var(--gap);
    }

    @media screen and (max-width: 900px) {
      grid: auto / repeat(auto-fill, minmax(160px, 1fr));

      .text__area {
        grid-column: 1/-1;
      }
    }
  }

  .black {
    background-color: var(--primary03);
    color: white;
  }

  .block-5 {
    grid-column: main;
    display: grid;
    gap: var(--gap);

    .text__area {
      display: grid;
      grid: auto / 1fr auto;
      gap: var(--gap);

      > * {
        grid-column: 1/2;
      }

      button {
        grid-column: 2/-1;
        place-self: end;
      }

      @media screen and (max-width: 900px) {
        > :nth-child(1) {
          grid-column: 1/-1;
        }
      }

      @media screen and (max-width: 500px) {
        > * {
          grid-column: 1/-1;
        }
      }
    }
    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
      grid-template-rows: auto;
      gap: var(--gap);
      margin: var(--gap);
    }
  }

  [data-icon] {
    width: clamp(1.125rem, 1.0795rem + 0.2273vw, 1.25rem);
  }
</style>
