---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "AskExperts";

import browser from "../assets/images/browser.svg"

//import ScrollingContainer from "../components/ScrollingContainer.astro";

//import { cardContent } from "../data/card-content.js";
---
<BaseLayout pageTitle={pageTitle} >
<h1>Heading 1 Lorem, ipsum dolor.</h1>
<h2>Heading 2 Lorem, ipsum.</h2>
<Image alt="hej" src={browser} format="avif"/>

<p>Paragraph Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti aut incidunt mollitia recusandae architecto reiciendis, ipsam libero laborum eos cum.</p>


<!-- <ScrollingContainer cardContent={cardContent} /> -->

</BaseLayout>