---
import AltHero from "../components/AltHero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import EmployeeSection from "../components/EmployeeSection.astro";
import PrimBtn from "../components/Btn.astro";
import Newsletter from "../components/Newsletter.astro";

const pageTitle = "The Team";
const employeesData = await fetch(
  "https://raw.githubusercontent.com/heyheynic/frontend-design-skoleopgave/bb0e7fb57b0831e5c14742cd5c5c1e263aeef511/resources/json/employees.json"
).then((res) => res.json());
---

<BaseLayout pageTitle={pageTitle} transition:animate="slide">
  <AltHero
    title="The Consultors"
    titleColor="Team"
    theme="yellow__bg"
    img="alt-hero-team.png"
    altText="Three office people discussing something."
  />
  <div class="team__section">
    <div class="text__area">
      <h2>Meet Our Great Team</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. enim ad minim
        veniam, quis nostrud exercitation.
      </p>
      <PrimBtn theme="black" title="Join our team" />
    </div>
    <EmployeeSection {employeesData} />
  </div>
  <Newsletter />
</BaseLayout>

<style>
  .text__area {
    display: grid;
    grid: 1fr 1fr / 1fr;
    gap: var(--gap);

    p {
      grid-row: 2;
    }
    button {
      grid-row: 2;
      place-self: end;
    }
  }
</style>
