---
// Projections: https://raw.githubusercontent.com/heyheynic/frontend-design-skoleopgave/main/resources/json/projections.json

// Core values: https://raw.githubusercontent.com/heyheynic/frontend-design-skoleopgave/main/resources/json/corevalues.json

// Employees https://raw.githubusercontent.com/heyheynic/frontend-design-skoleopgave/main/resources/json/employees.json

const { projections, coreValues, employees } = Astro.props;
const { title, description } = projections;
---

<article>
  <li>
    <h4>{title}</h4>
    <p>{description}</p>
  </li>
</article>

<style>
  article li {
    background-color: grey;
    width: clamp(18.75rem, 17.7273rem + 5.1136vw, 21.5625rem);
    padding: clamp(2.375rem, 2.2386rem + 0.6818vw, 2.75rem)
      clamp(1.8125rem, 1.6761rem + 0.6818vw, 2.1875rem);
    border-radius: 20px;
  }
</style>
