---
import Btn from "./Btn.astro";
const { cardTitle, btnTitle } = Astro.props;

// create some sort of array to the cards
---

<div class="container">
  <section class="card">
    <h3>{cardTitle}</h3>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, porro.
      Ipsa error cum officiis, voluptatem quidem veritatis eaque dolor voluptas.
    </p>
    <Btn title={btnTitle} theme="black" />
  </section>
</div>

<style>
  .card {
    backdrop-filter: blur(10px);
    background-color: oklch(from var(--primary03) l c h / calc(alpha - 0.3));
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: start;
    color: var(--secondary-light);
    padding: var(--padding-40);
    gap: var(--gap);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: 80ms scale ease-out;
  }

  div:hover {
    scale: 1.01;
    transition: 100ms scale ease-out;

    .card:hover button {
      background-color: #fff;
      color: var(--primary03);

      &:active {
        background-color: var(--primary03);
        color: #fff;
      }
    }
  }
</style>
