---

import { Icon } from "astro-icon/components";

const { theme, data, layout } = Astro.props;
---

{
  data.values.map(({ title, description, icon }) => (
      <article>
      <li data-theme={theme}>
        {layout === "icon" && <Icon name={icon} />}
        <h6>{title}</h6>
        <p>{description}</p>
        {layout === "button" && <div class="button">Click Me</div>}
      </li>
</article>
    ))
  }

<style>
  article {
    cursor: pointer;

    li {
      padding: clamp(2.375rem, 2.2386rem + 0.6818vw, 2.75rem)
        clamp(1.8125rem, 1.6761rem + 0.6818vw, 2.1875rem);
      border-radius: 20px;
      display: grid;
      gap: var(--gap);

      svg {
        justify-self: start;
        max-width: var(--icon-spacing);
      }

      .button {
        font-size: var(--font-size-bold);
        font-weight: 600;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" viewBox="0 0 16 14" fill="none"><path d="M1 6.78174H14.068M14.068 6.78174L8.72198 1.43579M14.068 6.78174L8.72198 12.1278" stroke="%23141414" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        background-repeat: no-repeat;
        background-position: 45%;
        transition: 200ms;

        &:active {
          color: var(--primary02);
          transition: 0ms;
        }
      }
    }
    &:hover {
      .button {
        background-position: 55%;
        transition: 300ms;
      }
    }
  }

  [data-theme="grey__bg"] {
    background-color: #ebebeb;
    color: var(--primary03);
  }
  [data-theme="grey__bg"]:hover {
    background-color: var(--primary03);
    color: #fff;
  }
</style>
