---
// got a lot of inspiration from tutorial https://www.freecodecamp.org/news/css-only-pie-chart/ and https://codepen.io/Dannie-Vinther/pen/RwzeYeV

const { percent, text } = Astro.props;
---

<div class="container">
  <div class="pie" style={`--percent: ${percent}%`}>
    <div class="circle"></div>
    {percent}%
  </div>
  <h6>{text}</h6>
</div>

<style>
  .container {
    display: grid;
    place-items: center;
    gap: var(--gap);
    padding: var(--gap) 0 0;
  }

  @property --percent {
    syntax: "<percentage>";
    inherits: true;
    initial-value: 0%;
  }

  .pie {
    --width: clamp(9.0625rem, 8.1534rem + 4.5455vw, 11.5625rem);
    --offset-pos: 5px;

    border: var(--offset-pos) solid transparent;
    position: relative;
    display: grid;
    place-content: center;
    font-size: var(--font-h2);
    aspect-ratio: 1;
    width: var(--width);
    border-radius: 1e5px;
    background:
      linear-gradient(var(--primary01), var(--primary01)) padding-box,
      conic-gradient(white , #daae3c 0) border-box;


      .circle {
      aspect-ratio: 1;
      border-radius: 99px;
      width: 30px;
      background: rgb(0, 0, 0);
      border: white solid 5px;
      position: absolute;
      offset-path: border-box;
   
    }
  }

  .animation {
    animation: --pie 2s cubic-bezier(0.22, 0.13, 0.2, 0.94) both;
    background:
      linear-gradient(var(--primary01), var(--primary01)) padding-box,
      conic-gradient(white var(--percent), #daae3c 0) border-box;

      .circle {
      aspect-ratio: 1;
      border-radius: 99px;
      width: 30px;
      background: rgb(0, 0, 0);
      border: white solid 5px;
      position: absolute;
      offset-path: border-box;
      offset-distance: var(--percent);
      offset-anchor: 50% calc(50% - var(--offset-pos) / 2);
    }
      
  }
  @keyframes --pie {
    from {
      --percent: 0%;
    }
  }
</style>

<script>

const options = {
  root: null, 
  rootMargin: '-50px', 
  threshold: 1
};
  const animate = new IntersectionObserver(entries => {
  
  entries.forEach(entry => {

    if (entry.isIntersecting) {

      entry.target.classList.add('animation');
    }
  });
}, options);

const elements = document.querySelectorAll('.pie');

elements.forEach(element => {
  animate.observe(element);
});
</script>

