---
import SingleViewCard from "./SingleViewCard.astro";

const { employeesData } = Astro.props;
---

<section>
  {employeesData.map((employee) => <SingleViewCard employee={employee} />)}
</section>

<style>
  section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* grid: auto / 1fr 1fr 1fr; */
    gap: var(--gap);
  }
</style>
