---

---

<footer>
  <h5>AskExperts</h5>
  <div class="line"></div>
  <div>
    ©2022 Consultalk. All rights reserved
    <div>
      <a href="#" target="”_blank”"> Terms of Service </a>
      <a href="#" target="”_blank”"> Privacy Policy </a>
    </div>
  </div>
</footer>

<style>
  footer {
    grid-column: full;
    display: grid;
    grid: auto/subgrid;
    gap: var(--gap);
    padding: var(--padding-40) 0 var(--padding-60);

    > * {
      grid-column: main;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .line {
      background: #707070;
      height: 1px;
      width: 100%;
      border-radius: 10px;
    }
    a::before {
      content: " | ";
      margin-inline: 0.5em;
    }
  }
</style>
