---

---

<header>
  <div class="wrapper">
    <!-- <img src="/favicon.svg" alt="website logo" class="logo" /> -->

    <nav>
      <ul>
        <a href="/">
          <li>Home</li>
        </a>
        <a href="/case__study">
          <li>Case Study</li>
        </a>
        <a href="/team">
          <li>Team</li>
        </a>
        <a href="/about">
          <li>About</li>
        </a>
      </ul>
    </nav>
  </div>
</header>
<a href="/"> </a>

<style>
  header {
    grid-column: full;
    display: grid;
    grid: auto/subgrid;
    > .wrapper {
      grid-column: main;
      background-color: green;
      /* container: burger / inline-size;  */
    }
  }
  ul {
    display: flex;
    gap: 1em;
  }

  a {
    text-decoration: none;
    :hover {
      color: inherit;
      text-decoration: underline;
      text-decoration-color: var(--dark);
      text-decoration-thickness: 0.3ex;
      text-underline-offset: 0.4ex;
    }
    :active {
      color: inherit;
    }
  }

  @container burger (width < 500px) {
    nav {
      background-color: red;

      ul {
        display: none;
      }
    }
  }
</style>
