---
import Popup from "./Popup.astro";
---

<header>
  <div class="wrapper">
    <a href="/"><div class="logo">AskExperts</div></a>

    <nav>
      <ul>
        <a href="/">
          <li>Home</li>
        </a>
        <a href="/case__study">
          <li>Case Study</li>
        </a>
        <a href="/team">
          <li>Team</li>
        </a>
        <a href="/about">
          <li>About</li>
        </a>
      </ul>
    </nav>

    <Popup />
  </div>
</header>

<style>
  header {
    grid-column: full;
    display: grid;
    grid: auto/subgrid;
    height: clamp(3.5rem, 2.2826rem + 6.087vw, 7rem);
    align-items: center;
    > .wrapper {
      grid-column: main;
      display: flex;
      justify-content: space-between;
      align-items: center;
      container: burger / inline-size;
    }
  }

  .logo {
    font-family: var(--font-header);
    font-size: var(--font-h6);
    font-weight: var(--font-weight-header);
    line-height: 105%;
  }
  ul {
    display: flex;
    gap: var(--gap);
  }

  a {
    :hover {
      color: inherit;
      text-decoration: underline;
      text-decoration-color: var(--dark);
      text-decoration-thickness: 0.3ex;
      text-underline-offset: 0.4ex;
    }
    :active {
      color: inherit;
    }
  }

  @container burger (width < 600px) {
    nav {
      background-color: red;

      ul {
        display: none;
      }
    }
  }
</style>
