---
import PrimBtn from "./Btn.astro";

import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import CardFlex from "./CardFlex.astro";

const { img } = Astro.props;
// imports imgs from source folder
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/images/*.{jpeg,jpg,png,gif}"
);

// checks if requested img exists
if (!images[`/src/assets/images/${img}`]) {
  throw new Error(`Image "${img}" not found in the assets folder.`);
}
---

<section class="hero">
  <div class="background__container">
    <div class="background__color"></div>
    <div class="img__container">
   

      <Image
      src={images[`/src/assets/images/${img}`]()}
      alt="Hero image of CEO"
      format="avif"
    />
    </div>
  </div>
  <div class="introduction">
    <h1>Adam Buschemia Business Consultant</h1>
    <p>
      Get help from Alex Moore, a professional business coach with advanced
      experience on growth and business scaling.
    </p>
    <PrimBtn title="Book a Meeting" theme="white" />
  </div>
  <div class="services">
    <CardFlex cardTitle="Finance & Restructuring" btnTitle="Our Services" />
    <CardFlex cardTitle="Our Approach" btnTitle="More About" />
    <CardFlex cardTitle="Consultalk Result" btnTitle="Explore Our Solution" />
  </div>
</section>

<style>
  section {
    grid-column: full;
    display: grid;
    grid: repeat(5, 1fr) / subgrid;

    @media screen and (max-width: 1070px) {
      grid: repeat(4, 1fr) / subgrid;
    }
  }
  .background__container {
    grid-column: full;
    grid-row: 1/5;
    display: grid;
    grid: auto/ 1fr 1fr;

    .background__color {
      background-color: var(--primary03);
      grid-column: 1/2;
      grid-row: 1/-1;
    }

    .img__container {
      grid-column: 2/-1;
      grid-row: 1/-1;
      img {
        height: 100%;
        object-fit: cover;
      }
    }

    @media screen and (max-width: 1070px) {
      grid: subgrid / 1fr;

      .background__color {
        grid-row: 1;
        grid-column: 1/-1;
      }

      .img__container {
        grid-row: 2;
        grid-column: 1/-1;
        object-fit: contain;
        height: 0; /* helps making img container as tall as .background__color */
        min-height: 100%; /* helps making img container as tall as .background__color */
      }
    }
  }
  .introduction {
    grid-column: main;
    grid-row: 1/3;

    display: grid;
    grid: auto / 1fr 1fr;

    gap: var(--gap);

    color: var(--secondary-light);
    align-items: center;
    text-wrap: balance;
    margin: 5em 0;

    > * {
      grid-column: 1;
    }

    button {
      justify-self: start;
    }

    @media screen and (max-width: 1070px) {
      grid-row: 1/2;

      grid: auto / 1fr;
      max-width: 65ch;
    }
  }

  .services {
    grid-column: main;
    grid-row: 4/-1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: var(--gap);
    margin: var(--gap);

    @media screen and (max-width: 1070px) {
      grid-row: 3/-1;
      height: fit-content;
    }
  }
</style>
