---
import CardGrid from "./CardGrid.astro";
import PrimBtn from "./PrimBtn.astro";


---

<section class="hero">
  <div class="background__color"></div>
  <div class="introduction">
    <h1></h1>
    <p></p>
<PrimBtn/> 
 </div>
  <img src="" alt="" />
  <div class="services">
    <CardGrid/>
    <CardGrid/>
    <CardGrid/>
  </div>
</section>
