---
const {title} = Astro.props;
---

<button>{title}</button>

<style>
  button {
    background-color: var(--primary02);
    padding: var(--primary-button-padding);
    border-radius: 54px;
  }
</style>
