---
import CardDynamic from "./CardDynamic.astro";
import { Icon } from "astro-icon/components";
const { theme, data, layout } = Astro.props;
---

<div class="scroller__section">
  
  <div class="buttons">
    <div class="button left" data-scroll="left">
      <Icon name="arrow-left" />
    </div>
    <div class="button right" data-scroll="right">
      <Icon name="arrow-right" />
    </div>
  </div>
  <ul class="scroller" id="scroller">
      <CardDynamic data={data} theme={theme} layout={layout} />
    
  </ul>
</div>

<style>
  .scroller__section {
    grid-column: full;

    display: grid;
    grid: auto 1fr / subgrid;

    /* buttons */
    .buttons {
      grid-column: 2;
      grid-row: 1;
      justify-self: end;
      align-self: start;

      display: flex;
      gap: var(--gap);

      .button {
        background-color: var(--primary01);
        padding: 1rem;
        border-radius: 100px;

        svg {
          width: 2rem;
        }

        &:hover {
          background-color: var(--primary03);
          color: #fff;
          outline: #fff 2px solid;
        }
        &:active {
          background-color: #fff;
          color: var(--primary03);
          outline: 2px solid var(--primary03);
        }
      }
      @media screen and (max-width: 900px) {
        align-self: end;
      }
    }
  }

  ul {
    grid-column: full;
    grid-row: 2;
    display: grid;
    list-style: none;
    overflow-x: auto;
    display: flex;
    gap: var(--gap);
    scroll-snap-type: x mandatory;

    padding-inline: max(1rem, 50% - var(--content) / 2);

    > * {
      flex-basis: clamp(2rem, 65%, 400px);
      flex-shrink: 0;
      scroll-snap-align: center;
      scroll-snap-stop: always;
    }
  }

  ul {
    display: flex;
    overflow-x: auto;

    :hover {
scale: 1;
    }
  }


</style>
