---

---

<div class="colored__title">
  <p>Coloured title</p>
</div>

<style>
  .colored__title {
    display: flex;
    align-items: flex-start;

    p {
      padding: 0 12px;
      border-radius: 20px;
      background-color: var(--primary01);
      text-transform: uppercase;
      letter-spacing: 2.32px;
    }
  }
</style>
